:root {
  --bg-base: alpha(#344479, 0.8); 
  --bg-surface: alpha(#45464f, 0.8);
  --bg-hover: alpha(#34343a, 1.0); 
  
  --text-primary: #e3e1e9;
  --text-secondary: #c6c6d0;
  
  --border-color: alpha(#8f909a, 0.5);
  
  --accent: #b5c4ff;
  --second: #c1c5dd;
}
