:root {
  --bg-base: alpha(#4a4900, 0.8); 
  --bg-surface: alpha(#48473a, 0.8);
  --bg-hover: alpha(#36352c, 1.0); 
  
  --text-primary: #e6e3d5;
  --text-secondary: #cac7b6;
  
  --border-color: alpha(#939182, 0.5);
  
  --accent: #cccb76;
  --second: #cac8a4;
}
