@import "colors.css";

* {
    background-image: none;
    box-shadow: none;
    font-family: "FiraCode Nerd Font", "Cascadia Code", sans-serif;
    font-size: 22px;
    font-weight: bold;
    transition: all 350ms cubic-bezier(0.16, 1.00, 0.30, 1.00);
}

window {
    background-color: alpha(@surface, 0.55);
    background-image: none; 
}

button {
    color: @on-surface;
    background-color: alpha(@surface-container-highest, 0.78);
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 28%;
    min-width: 240px; 
    
    margin: 130px 40px 230px 40px; 
    padding: 130px 20px 30px 20px;
    
    border: 2px solid alpha(@on-surface, 0.15); 
    border-radius: 36px;
    box-shadow: none; 
}

button:hover {
    color: @on-primary;
    background-color: alpha(@primary, 0.95);
    border: 2px solid @primary;
    background-size: 30%; 
    
    margin: 112px 26px 212px 26px; 
    padding: 148px 34px 48px 34px;
    box-shadow: none; 
}

button:active {
    background-size: 28%;
    background-color: alpha(@primary, 0.7); 
    
    margin: 124px 36px 224px 36px; 
    padding: 136px 24px 36px 24px;
    box-shadow: none;
}

#shutdown:hover {
    color: @on-error;
    background-color: alpha(@error, 0.95);
    border: 2px solid @error;
    box-shadow: none;
}
#shutdown:active {
    background-color: alpha(@error, 0.7);
    box-shadow: none;
}

#reboot:hover {
    color: @on-tertiary;
    background-color: alpha(@tertiary, 0.95);
    border: 2px solid @tertiary;
    box-shadow: none;
}
#reboot:active {
    background-color: alpha(@tertiary, 0.7);
    box-shadow: none;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
