* {
    background-image: none;
    box-shadow: none;
    font-family: "FiraCode Nerd Font", "Cascadia Code", sans-serif;
    font-size: 22px;
    font-weight: bold;
    transition: all 350ms cubic-bezier(0.16, 1.00, 0.30, 1.00);
}

window {
    background-color: alpha(#19120c, 0.55);
    background-image: none; 
}

button {
    color: #efe0d5;
    background-color: alpha(#3c332c, 0.78);
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 28%;
    min-width: 240px; 
    
    margin: 130px 40px 230px 40px; 
    padding: 130px 20px 30px 20px;
    
    border: 2px solid alpha(#efe0d5, 0.15); 
    border-radius: 36px;
    box-shadow: none; 
}

button:hover {
    color: #4a2800;
    background-color: alpha(#fdb975, 0.95);
    border: 2px solid #fdb975;
    background-size: 30%; 
    
    margin: 112px 26px 212px 26px; 
    padding: 148px 34px 48px 34px;
    box-shadow: none; 
}

button:active {
    background-size: 28%;
    background-color: alpha(#fdb975, 0.7); 
    
    margin: 124px 36px 224px 36px; 
    padding: 136px 24px 36px 24px;
    box-shadow: none;
}

#shutdown:hover {
    color: #690005;
    background-color: alpha(#ffb4ab, 0.95);
    border: 2px solid #ffb4ab;
    box-shadow: none;
}
#shutdown:active {
    background-color: alpha(#ffb4ab, 0.7);
    box-shadow: none;
}

#reboot:hover {
    color: #2b3410;
    background-color: alpha(#c0cc9a, 0.95);
    border: 2px solid #c0cc9a;
    box-shadow: none;
}
#reboot:active {
    background-color: alpha(#c0cc9a, 0.7);
    box-shadow: none;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
