@define-color theme_selected_bg_color alpha({{colors.primary_container.default.hex}}, 0.4);
@define-color theme_unfocused_selected_bg_color alpha({{colors.on_primary.default.hex}}, 0.4);

window.thunar .standard-view cell {
    border: 1px solid transparent;
    border-radius: 6px;
}

window.thunar .sidebar .view:selected,
window.thunar .sidebar treeview:selected {
    background-image: none;
    background-color: alpha({{colors.primary.default.hex}}, 0.3);
    color: {{colors.on_primary.default.hex}};
    border-radius: 6px;
    border: 1px solid {{colors.primary.default.hex}};
}

window.thunar rubberband,
window.thunar .rubberband {
    background-image: none;
    background-color: alpha({{colors.primary.default.hex}}, 0.3);
    border: 1px solid {{colors.primary.default.hex}};
}
